.login {
  .avatar {
    margin-right: 10px;
  }

  .logout {
    margin-left: 10px !important;
  }
}

.loginModal {
  max-width: 350px;

  .provider {
    margin: 20px auto;

    .loginButton {
      display: block;
      margin: 0 auto !important;
      width: 100%;
      max-width: 290px;
      height: 56px;
    }

    .logo {
      display: inline-block !important;
      max-height: 35px;
      margin-right: 10px;
    }

    .providerName {
    }
  }
}
