.seed {
  width: calc(25% - 1.5em) !important;
  padding: 0 !important;
  margin: 0.5em !important;

  .preview {
    img {
      position: relative;
    }
  }

  .header {
    a {
      color: #333;
      &:hover {
        color: #4183c4;
      }
    }
  }

  .title {
    margin-top: 5px !important;
    font-size: 14px !important;
  }

  .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
