.login {
  .avatar {
    margin-right: 10px;
  }

  .logout {
    margin-left: 10px !important;
  }
}

.provider {
  .loginButton {
    display: block;
    margin: 0 auto !important;
  }

  .logo {
    display: inline-block !important;
  }

  .providerName {
    margin-left: 5px;
  }
}
